<footer class="ds-footer" id="footer-main">
  <span class="ds-footer-copy">
    &copy; {{ global.currentYear }} {{ site.name }}
  </span>
  <ul class="ds-footer-links">
    {% for item in navbar %}
    {% if item.footer %}
    <li>
      <a href="{{ item.href }}">{{ item.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  <a href="{{ site.bookingUrl }}" class="ds-footer-book">Book an event</a>
</footer>
